
.allergyitem{
    display: inline-block;
    height: 35px;
    margin-right: 15px;
    box-shadow:  0px 1px 2px #8ab8e6;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    padding: 7px;
}
.x_btn {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}