.detail_study {
  margin-top: 30px;
  display: flex wrap;
  padding: 0 30px 0 30px;
  overflow: hidden;
}

.detail_study_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 30px;
}

.detail_study_time {
  font-size: 20px;
  font-weight: 600;
}

.detail_study_rewrite {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 17px;
}

.detail_study_save {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 17px;
}

.detail_study_content {
  font-size: 15px;
  width: 300px;
  height: 200px;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.detail_study_input {
  font-size: 15px;
  width: 300px;
  height: 200px;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 12px;
  border: 2px solid rgba(113, 159, 206, 0.35);
  margin-bottom: 10px;
  outline: none;
}

.detail_study_edit {
  display: flex;
  align-items: center;
}

.editimg {
  width: 20px;
  height: 20px;
}

.detail_member_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 30px;
}

.detail_study_img {
  height: 25px;
  width: 25px;
}

.detail_study_person {
  height: 60px;
  width: 330px;
  display: flex;
  flex-flow: column wrap;
  overflow-y: scroll;
}

.detail_study_mem {
  margin-right: 10px;
  font-size: 20px;
}

.detail_study_member {
  display: flex;
  font-size: large;
  align-items: center;
  font-weight: 600;
  width: 120px;
  height: 30px;
}

.detail_study_getout {
  display: flex;
  align-items: center;
}

.detail_getout_text {
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
}

.detail_getout_img {
  width: 20px;
  height: 20px;
}

.detail_study_btn {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 25px;
}

.study_exit_btn {
  font-size: 22px;
  color: #fcfcfc;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.meeting_join_btn {
  font-size: 22px;
  color: #fcfcfc;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.get_out {
  position: fixed;
  animation: fadeInUp 1s;
  width: 360px;
  height: 240px;
  bottom: 0;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-color: #fcfcfc;
  border-top: 2px solid rgba(113, 159, 206, 0.35);
  border-radius: 12px;
  padding-top: 10px;
}
.get_out .title {
  font-size: 30px;
  color: #719ECE;
  text-align: center;
  margin-bottom: 15px;
}
.get_out > img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}
.get_out .members {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.get_out .member {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.get_out .selected {
  border-bottom: 1px solid;
}
.get_out .member > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid;
}
.get_out .get_out_btn_on,
.get_out .get_out_btn_off {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #9ccbfe;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: #fcfcfc;
  border-radius: 12px;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
.get_out .get_out_btn_off{
  background-color: #d9d9d9;
}
@keyframes fadeInUp {
  0% {
      opacity: 1;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

.getout_modal {
  position: absolute;
  width: 360px;
  height: 660px;
  bottom: 0;
  background-color: rgba(156, 203, 254, 0.8);
}
.getout_modal .alert {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #fcfcfc;
  border-radius: 12px;
  margin: auto;
  margin-top: 170px;
}
.getout_modal .title {
  height: 35px;
  font-size: 30px;
  font-weight: 600;
}
.getout_modal .suggest {
  height: 30px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.getout_modal .getout_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.getout_modal .getout_list:last-child {
  margin-bottom: 0;
}
.getout_modal .btn_box {
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.getout_modal .member {
  margin-bottom: 15px;
}

.getout_modal .btn_box .yes_btn,
.getout_modal .btn_box .no_btn {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  background-color: #d9d9d9;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fcfcfc;
}
.getout_modal .btn_box .no_btn {
  background-color: #9ccbfe;
}