.itemrecipe {
    background: #FFFFFF;
    border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0 1px 1px rgba(113, 159, 206,0.35), 
                0 2px 1px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.15);
    border-radius: 12px;
    width: 300px;
    height: 126px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* 음식 사진 */
.foodpic {
    position: relative;
    border-radius: 12px;
    top: 12px;
    left: 12px;
    width: 120px;
    height: 100px;
}

/* 음식 정보 */
.foodinfo {
    width: 160px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;  
    padding-left: 5px;
}

/* 음식 제목 및 좋아요 */
.foodinfo_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* 일치율 */
.food_match {
    color : #719ECE;
}

/* 좋아요, 난이도, 시간 */
.foodinfo_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.receipe_like {
    width: 45px;
    height: 50px;
    display: flex;
    flex-flow: column;  
    text-align: center;
    justify-content: center;
}

.receipe_rank {
    width: 45px;
    height: 50px;
}

.receipe_time {
    width: 45px;
    height: 50px;
}

/* 별, 시계 이미지 크기 */
.receipe_img {
    width: 30px;
    height: 30px;
}

/* 모달 부분(스터디 상세) */
@keyframes fadeInUp {
    0% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.receipe_modal {
    position: absolute;
    animation: fadeInUp 1s;
    width: 360px;
    height: 400px;
    bottom: 400px;
    z-index: 10;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top: 2px solid rgba(113, 159, 206, 0.35);
    border-radius: 12px;
    padding-left: 20px;
    padding-top: 20px;
}


/* 스터디 가입하기 버튼 */
.move_study_detail {
    position: absolute;
    width: 360px;
    height: 60px;
    font-size: 25px;
    background-color: white;
    border-top: 2px solid rgba(113, 159, 206, 0.35);
    bottom: -20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* 모달 닫는 버튼 */
.modal_close_receipe {
    width: 340px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 25px;
    font-weight: 900;
    color: rgba(113, 159, 206);
}

/* 음식 정보 */
.modal_foodinfo {
    width: 220px;
    height: 100px;
    margin-top: 10px;

    text-align: center;  
    padding-left: 10px;
}

/* 음식 제목 및 일치율 */
.modal_foodinfo_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* 일치율 */
.modal_food_match {
    color : #719ECE;
}

/* 좋아요, 난이도, 시간 */
.modal_foodinfo_bottom {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.modal_receipe_like {
    width: 45px;
    height: 50px;
    display: flex;
    flex-flow: column;  
    text-align: center;
    justify-content: center;
}

.modal_receipe_rank {
    width: 45px;
    height: 50px;
}

.modal_receipe_time {
    width: 45px;
    height: 50px;
}

.modal_receipe_top {
    display: flex;
}

.modal_receipe_item {
    display: flex;
    width: 340px;
    height: 160px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 20px 0 20px;
}

.modal_have_item {
    justify-content: center;
    font-size: 20px;
    width: 150px;
    display: flex;
    flex-flow: row wrap;
    height: 140px;
    overflow-y: scroll;
    margin-top: 10px;
}

.modal_nohave_item {
    justify-content: center;
    font-size: 20px;
    width: 150px;
    display: flex;
    flex-flow: row wrap;
    height: 140px;
    overflow-y: scroll;
    margin-top: 10px;
}

.modal_item {
    width: 150px;
    font-size: 20px;
    height: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}

.modal_item_left {
    font-size: 20px;
    font-weight: 600;
}

.modal_item_right {
    font-size: 20px;
    font-weight: 600;
}