.community_post_detail {
  height: 600px;
  overflow-y: scroll;
}

.community_post_detail .top{
  height: 70px;
  width: 360px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FCFCFC;
  z-index: 1;
}
.community_post_detail .writer{
  display: flex;
  align-items: center;
}
.community_post_detail .profile{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
}
.community_post_detail .name {
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
}
.community_post_detail .back_btn{
  width: 40px;
  height: 26px;
}
.community_post_detail .food_img{
  width: 360px;
  height: 200px;
}
.community_post_detail .food{
  position: relative;
}
.community_post_detail .like_btn{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(252, 252, 252, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.community_post_detail .like_icon{
  width: 30px;
  height: 26px;
}
.community_post_detail .article{
  padding: 0 30px;
  color: #424242;
  margin-bottom: 20px;
}
.community_post_detail .title{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
 
}
.community_post_detail .content{
 font-size: 15px;
}