.study_detail {
    width: 360px;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    justify-content: center;
}

.study_detail_top {
    width: 300px;
    height: 60px;
    display: flex;
    margin: 20px 0px 0 30px;
    justify-content: space-between;
    align-items: center;
}

.study_detail_main {
    width: 360px;
    height: 450px;
}

.study_detail_name {
    font-size: 30px;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.study_detail_gortc {
    display: flex;
    font-size: medium;
    padding: 7px 10px 8px 10px;
    color: #fcfcfc;
    font-weight: 400;
    background-color: #719ECE;
    border-radius: 8px;
}

/* 토글 버튼 */
.study_detail_is_btn {
    display: flex;
}

.study_onrecom {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 0;
    width: 90px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 1px 3px rgb(108, 108, 108, 0.35);
    font-size: medium;
    font-weight: 200;
    color: #D9D9D9;
    background: none;
}
.study_offrecom {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-left: none;
    width: 90px;
    height: 40px;
    padding: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 1px 3px rgb(108, 108, 108, 0.35);
    font-size: medium;
    font-weight: 200;
    color: #D9D9D9;
    background: none;
}

.study_is_checked {
    color: #6c6c6c;
    border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0px 1px 3px rgba(113, 159, 206, 0.35);
}