.study_create {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 360px;
  height: 660px;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-flow: column;
}


.study_crate_title {
  width: 360px;
  height: 80px;
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  border-bottom: 1px solid #719ECE;
}

.study_create_input {
  width: 300px;
  border: none;
  outline: none;
  font-size: large;
  padding: 0;
  margin: 0;
}

.study_create_time {
  width: 360px;
  height: 250px;
  border-bottom: 1px solid #719ECE;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=time] {
  border: none;
  color: #719ECE;
  font-size: 40px;
  width: 300px;
  padding: 0;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  font-weight: 600;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #ffffff;
  color: #719ECE;
  padding: 10px 10px;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #ffffff;
  color: #719ECE;
  padding: 10px 10px;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #ffffff;
  color: #719ECE;
  padding: 10px 10px;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
  border: 3px solid #719ECE;
  background: #ffffff;
  border-radius: 50%;
}



.time_input {
  width: 300px;
  height: 160px;
  outline: none;
  border: none;
  padding: 30px;
  text-align: center;
}


.study_create_content {
  width: 360px;
  height: 250px;
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  border-bottom: 1px solid #719ECE;
}

.study_create_area {
  width: 340px;
  border: none;
  outline: none;
  font-size: medium;
  padding: 0;
  margin: 0;
}

.create_study_complete {
  display: flex;
  text-align: center;
  width: 360px;
  height: 80px;
  font-size: large;
  justify-content: space-between;
  padding: 0px 60px 0 60px;
  align-items: center;
  font-weight: 600;
  color: #719ECE;
}

.complete_btn {
display: inline-block;
}

.cancel_btn {
display: inline-block;
}


.click {
  position: absolute;
  color: #719ECE;
  font-size: medium;
  bottom: 163px;
  right: 32px;
}
