@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.App {
    font-family: 'KyoboHand';
    height: 660px;
    width: 360px;
    display: flex wrap;
    justify-content: center;
    overflow-y: scroll;
}

.Main {
    display: flex;
    height: 600px;
    justify-content: center;
}
