.h1 {
    color: linear-gradient(rgb(111,127,205), rgb(193,177,236));
    font-weight: 600;
}

#root {
    height: 100vh;
    background-image: linear-gradient( rgb(193,177,236), rgb(111,127,205));
}

img {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 110px;
    top: 250px;
}

