.switch-wrapper > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.switch-wrapper > input[type="checkbox"] + .switch {
  transform: translateX(5px);
}
.switch-wrapper > input[type="checkbox"]:checked + .switch {
  transform: translateX(40%) translateX(-10px);
}

.switch-wrapper {
  border-radius: 20px;
  cursor: pointer;
  height: 25px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 50px;
  margin-top: 3px;
}

.switch-wrapper > .switch {
  color: #fcfcfc;
  display: inline-block;
  height: 100%;
  left: -100%;
  position: relative;
  transition: 0.3s linear;
  width: 200%;
}
.switch-wrapper > .switch > .switch-handle {
  background: #fcfcfc;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  left: 49%;
  position: relative;
  top: 3.5px;
  width: 18px;
  z-index: 1;
}

.switch-label {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  font-weight: 20;
  color: #606060;
}

.off {
  background: #9ccbfe;
  content: "off";
}

.on {
  background: #719ECE;
  content: "on";
}