.Nav {
  position: fixed;
  bottom: 0px;
  z-index: 2;
  border-top: 4px solid rgb(189, 222, 255);
  width: 360px;
  height: 60px;
  background-color: #fcfcfc;
  opacity: 100;
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.nav_input{
  display:none;
}

.Nav > label {
  margin-left: 50px;
}

label.icons {
  transition: transform ease .5s
}

div.fst{
  transform:translate(-142px,-76px);
}
#one:checked~div.border{
  transform:translate( 43px, -38px);
  width: 38px;
}

#one:checked~label.ref {
  transform:translate(0, -25%);
}

#two:checked~div.border{
  transform:translate(121px,-38px);
  width: 35px;
}

#two:checked~label.bob {
  transform:translate(0, -25%);
}

#three:checked~div.border{
  transform:translate(202px,-38px);
  width: 35px;
}

#three:checked~label.rec {
  transform:translate(0, -25%);
}

#four:checked~div.border{
  transform:translate(283px,-38px) ;
  width: 33px;   
}

#four:checked~label.com {
  transform:translate(0, -25%);
}


