.search_input {
  display: flex;    
  width: 300px;
  height: 40px;
  border: 2px solid rgba(113, 159, 206, 0.35);
  border-radius: 18px;
  padding: 0 10px 0px 10px;
}

.img_icon {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

#search_input {
  height: 36px;
  width: 230px;
  margin-left: 10px;
  outline: none;
  border: none;
}

.search_item {
  width: 20px;
  height: 20px;
}

.delete_item {
  width: 15px;
  height: 15px;
}
