.study_chat {
	width: 360px;
	padding: 0 30px 0 30px;
	margin-top: 30px;
	overflow: hidden;
}

.chat_box {
	display: inline-block;
	height: 405px;
	overflow-y: scroll;
}

.current_user {
	display: inline-block;
	flex-flow: column;
	justify-content: flex-end;
	text-align: end;
	width: 300px;
	height: auto;
}

.current_user_info {
	display: flex;
	justify-content: flex-end;
	flex-flow: row;
	width: 300px;
	height: 40px;
}

.current_name {
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.current_content {
	display: inline-block;
	max-width: 180px;
	padding: 10px;
	margin: 0 50px 10px 40px;
	border-radius: 12px;
	color: black;
	background-color: rgba(113, 159, 206, 0.35);
}

.other_user {
	display: inline-block;
	flex-flow: column;
	width: 280px;
	margin: 10px 0 0 10px;
	height: auto;
}

.other_user_info {
	display: flex;
	flex-flow: row;
	width: 280px;
	height: 40px;
}

.oter_img {
	width: 30px;
	height: 30px;
}

.other_icon {
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.other_name {
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
}

.other_content {
	display: inline-block;
	padding: 10px;
	max-width: 180px;
	margin: 0 50px 10px 40px;
	border-radius: 12px;
	border: 1px solid rgba(113, 159, 206, 0.65);
}

.send_input {
	position: absolute;
	z-index: 5;
	display: flex;
	padding: 0;
	left: 0;
	bottom: -10px;
	width: 360px;
	height: 50px;
	border: 2px solid rgba(113, 159, 206, 0.65);	
}

.send_icon {
	width: 45px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.send_inputbox {
	width: 315px;
	padding-left: 15px;
	outline: none;
	border: none;
}

.send_img {
	width: 30px;
	height: 30px;
}