.add_item_page {
    width: 360px;
    height: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.add_item_top {
    width: 300px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.add_item_title {
    color: #719ECE;
    font-size: 25px;
}

.add_item_complete {
    width: 50px;
    height: 35px;
    border-radius: 12px;
    background-color: #9CCBFE;
    color: #fcfcfc;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.add_item_middle {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}

.add_all_delete {
    display: inline-block;
    border-radius: 12px;
    padding: 5px;
    background-color: #d9d9d9;
    height: 30px;
    color: #fcfcfc;
}

.add_item_choice {
    padding: 5px;
    font-weight: 700;
    color: #6c6c6c;
}

.add_choice_item {
    width: 360px;
    display: flex;
    height: 45px;
    overflow-x: scroll;
    flex-flow: column wrap;
    align-content: flex-start;
    padding-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.have_item {
    height: 40px;
    display: inline-block;
    padding: 10px;
    box-shadow:  0px 1px 2px #8ab8e6;
    font-size: 15px;
    border-radius: 12px;
    margin-right: 15px;
    font-weight: 600;
}

.add_x_btn {
    margin-left: 15px;
}

.add_search_list {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    width: 320px;
    height: 350px;
    overflow-y: scroll;
    align-content: flex-start;
}

.add_search_item {
    display: inline-block;
    font-size: 20px;
    height: 50px;
    padding: 10px 25px 10px 25px;
    /* border : 1px solid #9CCBFE; */
    margin: 0 15px 15px 0;
    border-radius: 12px;
    box-shadow:  0px 1px 2px #8ab8e6;
}
