.community_post_create {
  padding-top: 30px;
}
.community_post_create .info{
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 15px;
}
.community_post_create .post_img{
  position: relative;
  border-top: 1px solid #9CCBFE;
  border-bottom: 1px solid #D9D9D9;
}
.post_img_view{
  height: 200px;
  width: 100%;
  box-sizing: border-box;
}
.post_img_view img{
  height: 200px;
  width: 100%;
} 
.community_post_create .x_btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(252, 252, 252, 0.9) ;
}
.community_post_create .x_btn > img{
  width: 30px;
  height: 30px;
}
.community_post_create > input{
  display: none;
  outline: none;
}
.community_post_create .title{
  border-bottom: 1px solid #D9D9D9;
  height: 40px;
  padding: 5px 30px;
}
.community_post_create .title > input{
  width: 300px;
  height: 30px;
  border: none;
  font-size: 20px;
  outline: none;
}
.community_post_create .title > input::placeholder,
.community_post_create .content > textarea::placeholder{
  color: #D9D9D9;
}
.community_post_create .content{
  height: 200px;
  padding: 5px 30px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 30px;  
}
.community_post_create .content > textarea{
  border: none;
  font-size: 18px;
  outline: none;
  width: 300px;
  height: 180px;
  padding-top: 10px;
  overflow-y: scroll;
}
.community_post_create .post_btn{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.community_post_create .cancle_btn,
.community_post_create .enroll_btn{
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D9D9D9;
}
.community_post_create .enroll_btn{
  background-color: #9CCBFE;
  color: #fcfcfc;
}