@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.login_Page {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 360px;
    height: 660px;
    background: linear-gradient(33.11deg, #719FCE 14.9%, #9CCBFE 83.73%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.login_btn_block {
    opacity: 100;
    position: absolute;
    width: 240px;
    height: 50px;
    left: 60px;
    top: 340px;
    border-radius: 12px;
    background-color: fcfcfc;
    color: #719FCE;
    border: none;
    font-size: 30px;
    animation: taadaa 2s;
}

.firset_logo_text {
  font-family: 'Bazzi';
  font-size: 100px;
  color: fcfcfc;
  /* font-weight: 700; */
  /* position: absolute; */
    /* width: 120px;
    height: 60px; */
  font-weight: 500;
  margin-bottom: 100px;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


#complete {
  animation: fadeOut 2s;
}