.App{
  min-width: 330px;
  min-height: 600px;
}

.Main{
  left: 10%;
}

.video-room{
  position: fixed;
  /* transform: rotate(270deg); */
  /* transform-origin: top left; */
  /* position: relative; */
  right:  75px;
  top: -23px;
  width: 90%;
  height: 90%;
  min-width: 600px;
  min-height: 370px;
  box-sizing: content-box;
}