@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.App {
    font-family: 'SUIT-Regular';
    height: 640px;
<<<<<<< HEAD
    display: flex;
=======
    width: 360px;
    display: flex wrap;
>>>>>>> develop
    justify-content: center;
}

.Main {
    display: flex;
    height: 600px;
    justify-content: center;
}
