.refridgerator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

.refridgerator .main{
    color: #C1B1EC;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    background: linear-gradient(to right, #C1B1EC, #6F7FCD);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

.refridgerator .itembox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: auto;
    height: 100px;
}

.refridgerator .text{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    
    background: linear-gradient(270deg, #5267BE 0%, #A992E8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */ }