.study_page{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
    
    
}

.study_joined_box{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-align: start;
    -ms-overflow-style: none; /* IE and Edge */
}

.study_info_box{
}