.item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px 5px 0px 5px;
    width: 90px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0 1px 1px rgba(113, 159, 206,0.35), 
                0 2px 1px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.15);    
}

.nambi_img {
    width: 40px;
}

.ref_icon {
    width: 90px;
    height: 20px;
    margin-top: 5px;
}

.item .itemText{
    width: 90px;
    height: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    align-items: center;
    text-align: center;
    color: #838383;
    margin-top: 6px;
}

