.item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px 5px 0px 5px;
    width: 90px;
    height: 50px;
    border-radius: 12px;
    box-shadow:  0px 1px 2px #8ab8e6;
    
}

.nambi_img {
    width: 40px;
}

.ref_icon {
    width: 90px;
    height: 20px;
    margin-top: 5px;
}

.item .itemText{
    width: 90px;
    height: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #606060;
    margin-top: 6px;
}

