.itemlistbox {
    display: inline-block;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0 1px 1px rgba(113, 159, 206,0.35), 
                0 2px 1px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.35), 
                0 2px 2px rgba(113, 159, 206,0.15);
    text-align: center;
    margin-right: 15px;
    padding: 10px 15px 10px 15px;

}
.select_item_text{
    display: inline-block;
    margin: 0;
    text-shadow: 2px 2px 2px #d9d9d9;
}

.itemText {
    font-size: 20px;
    /* font-weight: 600; */
    margin: 0;
}

.seletc_itemText{
    font-size: 20px;
    /* font-weight: 600; */
    margin: 0;
    color: #6c6c6c;
}