.recipe-detail-page{
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 30px;
}

.recipe-detail-img{
  height: 200px;
  background-color: antiquewhite;
  border-radius: 12%;
}

.recipe-detail-content{
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 30px;
}

.recipe-detail-page-move{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}