.listrecipe {
   width: 300px;
   height: 620px;
   display: flex;
   flex-flow: column;
   align-items: center;
   padding: 0;
}

/* 추천 / 기본 레시피 선택 부분 */
.is_btn {
    margin: 30px 0;
    display: flex;
    flex-flow: row;
}

.onrecom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    width: 100px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 1px 3px rgb(108, 108, 108, 0.35);
    font-size: medium;
    font-weight: 200;
    padding: 0;
    color: #6c6c6c;
    background: none;
}
.offrecom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-left: none;
    width: 100px;
    height: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 1px 3px rgb(108, 108, 108, 0.35);
    font-size: medium;
    font-weight: 200;
    padding: 0;
    color: #6c6c6c;
    background: none;
}

.is_checked {
    background-color: #a3d4ff;
    color: #ffffff;
    border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0px 1px 3px rgba(113, 159, 206, 0.35);
}


/* 레시피 목록 보여주는 부분 */

.recipes {
    margin-top: 25px;
    width: 300px;
    height: 380px;
    overflow-y: scroll;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

/* 토글 */
.recipe_toggle{
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}