.ref_title{
  color: #8ab8e6;
  /* background: linear-gradient(to right, #C1B1EC, #719FCE); */
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ref_main .itembox{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  margin-bottom: 50px;
}

.ref_main .text{
  padding: 0px 0px 0px 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8ab8e6;
}

.priority_item_box {
  font-weight: 500;
  font-size: 15px;
  color: #8ab8e6;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  align-items: center;
  margin-top: 20px;
}

.priority_item {
  margin-bottom: 30px;
  padding-left: 30px;
  width: 360px;
  height: 130px;
  overflow-x: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.last_item {
  padding-left: 30px;
  width: 360px;
  height: 130px;
  overflow-x: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  margin: 20px 0;
}