.study-detail-info{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
    font-family: 'Inter';
}
.study-detail-info-time{
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 30px;
}


.study-detail-info-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.study-detail-info-content{
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
}

.study-detail-info-member{
    text-align: left;
    font-family: 'Abel';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.study-detail-info-member-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

}

.study-detail-info-member-display div{
    margin-right: 20px;
    margin-bottom: 30px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    
    
}

.study-detail-info-member-img img{
    margin: 10px 0px 0px 0px;
    width: 40px;
    height: 40px; 
    border-radius: 70%;
}

.study-detail-info-member-name{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.study-detail-info-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}