.study_info{
    margin-bottom: 30px;
    border: 1px solid rgba(113, 159, 206, 0.15);
    box-shadow: 2px 2px 3px rgba(113, 159, 206, 0.65);
    text-align: left;
    width: 300px;
    height: 120px;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 15px;
    overflow: hidden;
}

/* 제목, 멤버수 */
.study_top {
    width: 320px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.study_member {
    height: 30px;
    margin: 0;
}
/* 멤버 수 */
.study_member_img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* 요약 */
.study_short {
    width: 240px;
    height: 18px;
    overflow: hidden;
    margin-top: 4px;
    font-size: small;
}

/* 이름 */
.study_name{
    font-size: 30px;
    font-weight: 700;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 시간 */
.study_time {
    margin-top: 3px;
    font-size: small;
}

.modal_btn {
    display: flex;
    width: 250px;
    justify-content: center;
    font-size: medium;
    color: rgba(113, 159, 206);
}

/* 모달 부분(스터디 상세) */
@keyframes fadeInUp {
    0% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInDown {
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
}


.study_modal {
    position: absolute;
    animation: fadeInUp 1s;
    width: 360px;
    bottom: 400px;
    z-index: 10;
    left: 0;
    bottom: 0;
    background-color: #fcfcfc;
    border-top: 2px solid rgba(113, 159, 206, 0.35);
    border-radius: 12px;
    padding: 20px 30px 60px 30px;
}

.modal_top {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

/* 제목, 멤버수 */
.modal_bottom {
    width: 250px;
    margin-top: 15px;
    display: flex;
}

/* 멤버 수 */
.modal_img {
    width: 25px;
    height: 25px;
    margin-bottom: 1px;
    margin-right: 5px;
    opacity: 0.6;
}

.modal_member {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: medium;
    margin-top: 5px;
}

/* 요약 */
.modal_short {
    width: 280px;
    min-height: 80px;
    font-size: medium;
    overflow-y: scroll;
    margin-top: px;
}

.study_joined_mem {
    margin-right: 30px;
    font-size: large;
    font-weight: 600;
}

/* 이름 */
.modal_name{
    width: 300px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* 시간 */
.modal_time {
    margin-top: 15px;
    font-size: large;
}

.modal_person {
    margin-top: 0px;
    width: 320px;
    height: 60px;
    overflow-x: scroll;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10px;
}
/* 스터디 가입하기 버튼 */
.move_study_detail {
    position: absolute;
    width: 360px;
    height: 60px;
    font-size: 25px;
    background-color: #fcfcfc;
    border-top: 2px solid rgba(113, 159, 206, 0.35);
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 모달 닫는 버튼 */
.modal_close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: rgba(113, 159, 206);
}
