.study_joined {
    padding: 5px 0px 0 10px;
    width: 200px;
    height: 120px;
    margin-right: 15px;
    /* border: 1px solid rgba(113, 159, 206, 0.35);
    box-shadow: 0 1px 1px rgba(113, 159, 206,0.35), 
                0 2px 1px rgba(113, 159, 206,0.35), 
                0 4px 2px rgba(113, 159, 206,0.35), 
                0 8px 2px rgba(113, 159, 206,0.15); */
    border : 5px solid #d4eaff;
    border-radius: 12px;
    background-color: #f2f9ff;
}

.joined_top {
    display: flex;
    flex-flow: column;
    height: 120px;
}

.joined_name {
    width: 200px;
    font-size: large;
    font-weight: 600;
    color: #474747;
}

.joined_time {
    font-size: large;
    margin-top: 5px;
}

.joined_member {
    width: 140px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.joined_image {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    opacity: 0.7;
}
.go_rtc {
    position: relative;
    margin-left: 100px;
    margin-top: -52px;
    font-weight: 600;
    height: 30px;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 8px;
    color: #fcfcfc;
    background-color: #aad5ff;
}

.no_rtc{
    position: relative;
    margin-left: 110px;
    margin-top: -52px;
    font-weight: 600;
    height: 30px;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 8px;
    color: black;
    background-color: rgba(221, 238, 255, 0.65);
}