.study_info{
    margin-bottom: 30px;
    margin-left: 10px;
    border: 1px solid rgba(113, 159, 206, 0.15);
    box-shadow: 2px 2px 3px rgba(113, 159, 206, 0.65);
    text-align: left;
    width: 280px;
    height: 120px;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 15px;
}

/* 제목, 멤버수 */
.study_top {
    width: 250px;
    margin-top: 10;
    display: flex;
    justify-content: space-between;
}

/* 멤버 수 */
.member_img {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    margin-right: 5px;
}

/* 요약 */
.study_short {
    width: 240px;
    height: 18px;
    overflow: hidden;
    margin-top: 4px;
    font-size: small;
}

/* 이름 */
.study_name{
    font-size: medium;
    font-weight: 700;

}

/* 시간 */
.study_time {
    margin-top: 3px;
}

.study_time_item {
    font-size: small;
    margin-right: 5px;
}


.accordion-button{
    
    position: relative;
    width: 100px;
    height: 10px;
    bottom: 0px;
    left: -10px;
}



.accordion-item{
    border: none;
}

.accordion-body{
    position: relative;
    left: -10px;
}

.btn-primary{
    position: relative;
    left: 80%;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

