.not_found {
  margin-top: 30px;
}
.not_found > img {
  width: 150px;
  margin-bottom: 15px;
}
.not_found .code {
  font-size: 30px;
  font-weight: 600;

}
.not_found .to_main {
  background-color: #9ccbfe;
  width: ;
}